.header {
  display: flex;
  align-items: center;
  gap: 100px;
  margin: auto;
  margin-top: 20px;
}

.headerImg {
  width: 119px;
  height: 39px;
}
.headerImgP {
  font-weight: 800;
  font-size: 18px;
  cursor: pointer;
  position: relative;
}

.header-img img {
  width: 100%;
  height: 100%;
}
.menu {
  display: flex;
  gap: 50px;
  align-items: center;
}
.hover1 {
  position: absolute;
  left: 600px;
  top: 120px;
  border: 1px solid gray;
  width: 250px;
  height: 400px;
  background-color: #f4f4f4;
}
.input svg {
  fill: gray;
  width: 15px;
  height: 15px;
}
.weather {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
.weather p {
  font-size: 15px;
  color: rgb(58, 58, 58);
}
.weather div {
  display: flex;
}
.headerRight {
  display: flex;
  gap: 40px;
}
.hIMg {
  display: flex;
  gap: 10px;
}
.hIMg :nth-child(2) {
  font-weight: 800;
  font-size: 20px;
}
